@function heading-rhythm(
  $font-size: $base-font-size,
  $good-line-height: $header-line-height
) {
  @return lines-for-font-size($font-size)*$base-line-height - $good-line-height*$font-size;
}

@mixin heading-rhytm($font-size: $base-font-size, $good-line-height: $header-line-height, $koef-top: 0.3, $koef-bottom: 0.7) {
  font-size: $font-size; // Fallback for ie8-
  font-size: emCalc($font-size); //rem unit
  line-height: $good-line-height;
  padding-top: round($koef-top*heading-rhythm($font-size,$good-line-height));
  margin-bottom: round($koef-bottom*heading-rhythm($font-size,$good-line-height));
}

@mixin vertical-spacer($what: "margin-bottom", $multi: 1) {
  #{$what}: $gutter-width-vertical*$multi;
   @media #{$medium-up} {
     #{$what}: $gutter-width-vertical-medium*$multi;
   }
   @media #{$large-up} {
     #{$what}: $gutter-width-vertical-large*$multi;
   }
}

@mixin border-default($what: "border") {
 #{$what}: $hr-border-width $hr-border-style $hr-border-color;
}

%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
