// start using vertical rhytm... Foundation does't care...
// if using foundation mixins/functions - you should call it before this global...
@import "compass/typography/vertical_rhythm";
@include establish-baseline;
html, body {
  @include adjust-leading-to(1);
  font-size: 14px;
  @media #{$medium-up} {
    font-size: 15px;
  }
  @media #{$large-up} {
    font-size: $base-font-size;
  }
}

// some kind of custom global. This will be added by foundation if $include-html-global-classes set to TRUE via foundation.
// if set to FALSE, bellow is my custom global
@if $include-html-global-classes == false {
      body {
        background: $body-bg;
        color: $body-font-color;
        padding: 0;
        margin: 0;
        font-family: $body-font-family;
        font-weight: $body-font-weight;
        font-style: $body-font-style;
        cursor: $cursor-default-value;
    }
    
    img {
      display: inline-block;
      vertical-align: middle;
    }
    
    // Make sure textarea takes on height automatically
    textarea { height: auto; min-height: 50px; }

    // Make select elements 100% width by default
    select { width: 100%; }
}

// any typography element (footer, header, etc,... without .typography class)

a { text-decoration:none; color:$primary-color;
	&:hover, &:focus, &:active { text-decoration:underline;
	 &.button {text-decoration: none;}
	 }
	 &.ReadMoreLink {
	   position: relative;
	   &:after {
	     content: "";
	     width: 5px;
	     height: 9px;
	     position: absolute;
	     right: -15px;
	     top: 7px;
	     //background-image: inline-image("../images/beak_blue.png");
	   }
	 }
}

strong, b { 
  font-weight:$font-weight-bold;
}

p, ul, ol {margin-bottom: 0;}

h1, h2, h3, h4, h5, h6 {
  font-family:$header-font-family; 
  font-weight:$header-font-weight;
  color: $header-font-color;
  margin: 0;
  font-style: $header-font-style;
  line-height:  $header-line-height;
   -webkit-text-size-adjust: 100%;
  a {text-decoration: none; color: inherit;
    &:hover, &:active, &:focus {color: $primary-color; text-decoration: none;}
}
}
h1, .alpha {@include heading-rhytm(46px, 1.17, 0,1); margin-bottom: 20px; }
h2, .beta { @include heading-rhytm(36px, 1.15); margin-bottom: 20px;}
h1, .alpha, h2, .beta, h3, .gamma, h4, .delta {
  strong {color: $primary-color; font-weight: inherit;}
  em {color: $primary-color; font-size: 0.75em; font-style: normal; display: block; line-height: 1.5;}
  b {font-weight: inherit; font-size: 0.625em; line-height: 1.5;}
  b.mini {font-size: rem-calc(16px);}
}
h3, .gamma { @include heading-rhytm(22px, 1.25); }
h4, .delta {@include heading-rhytm(18px, 1.33);}
h5, .epsilon, h6, .zeta { @include heading-rhytm();}

img {background: $body-bg;}

hr {
  padding-top: 0;
  margin: 0 0 ($base-line-height - $hr-border-width) 0;
}

ul {
  list-style: none;
  margin-left: 0;
}

table th {text-align: left;}

// typography class
.typography {
  //@include debug-vertical-alignment;
  // Basic vertical rhythm on default elements
  ul, ol, p, table, div.clearer, header {
    margin-bottom: $base-line-height;
    &:last-child, &.last-child {margin-bottom: 0;}
  }
  ul {
    list-style: square; margin-left: 1.5em;
  }
  ul, ol { 
    li ul {list-style: disc;  margin-left: 1.25em; margin-bottom: 0;}
  }
  ol {
    list-style: upper-roman;
    li ol {list-style: decimal; margin-bottom: 0;
      li ol {list-style: lower-alpha;}
    }
  }
  p+ul, p+ol {margin-top: -$base-line-height;}
  img {
    @include thumb;
    @include single-transition(all,$thumb-transition-speed,ease-out);
    &.radius { @include radius($thumb-radius); }
  }
  img, .captionImage {
    &.right, &.left {margin-bottom: 0.5*$base-line-height; }
    &.right {margin-left: 1em;}
    &.left {margin-right: 1em;}
  }
  address {
    //todo
  }
  blockquote {

  }
  pre {
    //todo
  }
	
	// some classes
	.primary-color {color: $primary-color;}
	.left {float: left;}
	.right {float: right;}
	.big {font-size: 150%;}
	.secondary-color {color: $secondary-color;}
	.blue {color: blue;}
	.red {color: red;}
	.yellow {color: yellow;}
	.green {color: green;}
	.leftAlone {float: none; display: block; margin: $base-line-height 0;}
	.captionImage {
	  .leftAlone {
	    margin: 0;
	  }
	  .left, .right {margin-bottom: 0;}
	}
	.caption {
	     color: $primary-color;
      text-align: center; 
      @include adjust-font-size-to(12px, 1, $base-font-size);
      &.right, &.left {text-align: center; float: none !important;}
      &.right {padding: 0 $thumb-border-width 0 $thumb-border-width+16px;}
      &.left {padding: 0 $thumb-border-width+16px 0 $thumb-border-width;}
    }
	.center {margin: 0 auto; display: block; }
	
}