.bg-gray {
  background: $bg-gray;
}
.space-bottom-base {
    padding-bottom: $base-line-height;
 }
 
 .space-top-base {
    padding-top: $base-line-height;
 }
 
.space-top-small {
    @include vertical-spacer(padding-top);
 }

 .space-bottom-big {
    @include vertical-spacer(padding-bottom, 2);
 }
 
 .space-bottom-oneandhalf {
   @include vertical-spacer(padding-bottom, 1.5);
 }
 
  .space-top-big {
    @include vertical-spacer(padding-top, 2);
 }
 
 .space-bottom-small, .tretinka, .polovicka, .stvrtinka {
   @include vertical-spacer(padding-bottom);
 }
 
header hr {
  margin: 7px 0 30px 0;
}

 .space-top-zero {
   margin-top: 0; padding: 0;
 }

.fb-like {
  margin: 20px 0; max-width: 100%; overflow: hidden;
}

.relative {
  position: relative;
}
