.Callout {
  h1, h2, h3 {
    text-align: center; 
    @include heading-rhytm(25px, 1.1, 0, 1);
    font-weight: 500;
    a {display: inline;}
    strong, a {color: $primary-color;}
  }
  p {
    text-align: center; 
    font-size: rem-calc(16px);
    strong, a {color: $primary-color;}
  }
  @media #{$medium-up} {
    h1, h2, h3 {
      @include heading-rhytm(35px, 1.1, 0, 1);
    }
    p {font-size: rem-calc(18px);}
  }
  @include border-default();
  border-width: 1px 0 0 0;
  padding: 30px 0 10px 0;
}
