.Features {padding-bottom: 1em;
  a, img, strong, em {display: block; text-align: center; }
  strong {background: $mainColor; color: $white; padding: 1em;}
  em {color: $txtColor; padding: 5px; background: $secondaryColor;}
}

