// Logo fix
$logo-width: 468px;
#Logo {
  padding: $base-line-height 0;
  img {max-width: $logo-width; width: $logo-width;}
  @media only screen and (max-width: rem-calc($logo-width) + rem-calc(2*$gutter-width)) {
    img {width: 100%;}
  }
  @media #{$medium-only} {
    img {width: 100%;}
  }
  @media #{$small-only} {
    text-align: center;
    //border-bottom: 1px solid #efefef;
  }
}

#SearchForm {margin: $base-line-height 0;
  input, form {margin: 0;}
}

// fix: do not change active menu colors
.top-bar-section ul li.active > a {
  &:hover, &:active, &:focus {
        background: $topbar-link-bg-active;
        color: $topbar-link-color-active;
  }
}

.TranslationSwitcher li {margin-left: 0;
  a {padding: 0 5px;}
}

