// Logo fix
$logo-width: 205px;
#Logo {
  a {padding: 17px 0 18px 0; display: block;}
  img {max-width: $logo-width; width: $logo-width;background: transparent;}
  @media only screen and (max-width: rem-calc($logo-width) + rem-calc(2*$gutter-width)) {
    img {width: 100%;}
  }
  @media #{$medium-only} {
    img {width: 100%;}
  }
  @media #{$small-only} {
    text-align: center;
    //border-bottom: 1px solid #efefef;
  }
}