
  .Maxphotos {
    margin-top: $base-line-height;
  }
  
  .MainImageWithLogo {
    position: relative;
    .LogoImage {
      position: absolute;
      left: 0;
      bottom: 0;
      border: 0 none;
      padding: 0;
      opacity: .05;
      img {
        -webkit-box-shadow: none; -moz-box-shadow: none;box-shadow: none;
      }
    }
     &:hover {
        .LogoImage {
          opacity: 0.85;
        }
      }
  }
}