.myBreadcrumbs {
  @include crumb-container;
  li {position: relative; display: inline-block; padding-left: 26px; font-size: $crumb-font-size; color: $crumb-font-color-current;
    &:before {
        content: " "; 
        width: 5px;
        height: 9px; 
        left: 10px;
        top: 7px;
        position: absolute; 
        background-image: inline-image("../images/beak_gray.png");
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    &.first {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
  float:right;
}