  .top-bar {
    @media #{$large-up} {
      margin-top: 20px;
    }
  }
  .top-bar-section {
    ul {padding-bottom: 24px;}
    ul li {
      margin: 0 10px;
     strong {
        line-height: $topbar-height;
        font-size: $topbar-link-font-size;
      } 
      &.last {margin-right: 0;}
      &.first {margin-left: 0;}
    }
    @media #{$topbar-media-query} {
      ul {padding-bottom: 0;}
      ul li {
        ul li{
          margin: 0;
          a {padding: 0 10px; background: #fff; line-height: 36px; opacity: .9;}
        }
        &.divider {display: none;}
      }
    }
  }